/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --color-bg-blue: #2196f3;
  --color-logo-title: #000000;
  --color-bg-white: #ffffff;
  --secondary-background: #f5f4fa;
  --color-bg-hero-footer: #2f303a;
  --address-color-mail-tel: rgba(255, 255, 255, 0.6);
  --icons: #afb1b8;
  --color-hover: #188ce8;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  min-width: 100%;
}

.list {
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg-white);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.link {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.link:hover, .link:focus {
  color: var(--color-bg-blue);
}

.pointer {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--color-bg-blue);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__header {
  color: var(--color-logo-title);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__footer {
  color: var(--color-bg-white);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.site__nav {
  display: flex;
  margin-left: 93px;
}

.site__nav li:not(:last-child) {
  margin-right: 50px;
}

.site__nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site__nav .current {
  position: relative;
}

.site__nav .current:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-top: 28px;
  background-color: var(--color-bg-blue);
}

.link-header {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-header:hover, .link-header:focus {
  color: var(--color-bg-blue);
}

.link-header:hover svg,
.link-header:focus svg {
  fill: var(--color-bg-blue);
}

.link-header-icon {
  margin-right: 10px;
  fill: var(--icons);
}

@media screen and (max-width: 480px) {
  .auth-nav {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav li:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    align-items: center;
  }
  .auth-nav li:not(:first-child) {
    margin-left: 50px;
  }
}

.auth-nav .link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.form-field-input {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .form-field-input {
    flex-direction: row;
    align-items: flex-start;
  }
}

.footer__area {
  height: 50px;
  background-color: var(--color-bg-hero-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
}

.footer__area:checked {
  border-color: var(--color-bg-blue);
}

@media screen and (min-width: 768px) {
  .footer__area {
    width: 450px;
    margin-bottom: 20px;
    padding-left: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__area {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
  }
}

.footer-icon {
  margin-left: 10px;
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--color-bg-blue);
  color: var(--color-bg-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: opacity 250ms, visibility 250ms;
  overflow-y: scroll;
}

.backdrop.is-hidden .modal {
  transform: scale(2) rotate(180deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  width: 90%;
  min-height: 581px;
  border-radius: 4px;
  background-color: var(--color-bg-white);
  padding: 40px;
  transition: transform 250ms;
}

.modal-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
}

.modal-input:focus {
  border-color: var(--color-bg-blue);
}

.modal-textarea {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: none;
}

.modal-textarea:focus {
  border-color: var(--color-bg-blue);
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.btn-modal-close-black {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal-close-black:hover {
  background-color: var(--color-bg-blue);
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.button-hero-modal {
  display: block;
  background: var(--color-bg-blue);
  color: var(--color-bg-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  margin-bottom: 10px;
}

.form-field {
  position: relative;
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-label {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
}

.modal-input:focus + .input-icon {
  fill: var(--color-bg-blue);
}

.policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}

.policy-check {
  display: block;
  align-items: flex-end;
}

.policy-icon {
  fill: transparent;
}

.policy-text {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    line-height: 24px;
  }
}

.policy-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-icon {
  fill: transparent;
}

.policy-link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--color-bg-blue);
}

@media screen and (min-width: 1200px) {
  .policy-link {
    font-size: 14px;
    line-height: 24px;
  }
}

.policy-check:checked + .policy-text span {
  background-color: var(--color-bg-blue);
  border: none;
}

.policy-check:checked + .policy-text .policy-icon {
  width: 13px;
  height: 10px;
  fill: var(--color-bg-white);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  background: var(--color-bg-white);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
  }
}

.hero {
  background: var(--color-bg-hero-footer);
  color: var(--color-bg-white);
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.png);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
}

.button-hero {
  background: var(--color-bg-blue);
  color: var(--color-bg-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover, .button-hero:focus {
  color: var(--color-logo-title);
  background: var(--color-hover);
}

.features {
  background: var(--color-bg-white);
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list__items {
  margin: 0 auto 30px;
  width: calc(100% / 1 - 30px);
}

.features-list__items:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .features-list__items {
    width: calc(100% / 2 - 30px);
  }
  .features-list__items:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__items {
    width: calc(100% / 4 - 30px);
  }
  .features-list__items:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

.features-list__icon {
  background-color: var(--secondary-background);
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-list__icon-item {
  fill: var(--primary-text-color);
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 100%;
}

.team {
  background: var(--secondary-background);
}

.team__title {
  text-align: center;
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.team-list {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team .team-list__item {
  margin: 0 auto 30px;
}

@media screen and (min-width: 768px) {
  .team .team-list__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team .team-list__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__card {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--color-bg-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team__profession {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team__social {
  display: flex;
  justify-content: center;
}

.team__item {
  width: 44px;
  height: 44px;
}

.team__item + .team__item {
  margin-left: 10px;
}

.team__link {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icons);
  width: 100%;
  height: 100%;
  color: var(--color-bg-white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background: var(--color-bg-blue);
  fill: currentColor;
}

.work {
  padding-top: 47px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list__thumb {
  position: relative;
}

.work-list__text {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-bg-white);
}

.clients__title {
  color: var(--color-logo-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.client__item {
  height: 92px;
}

@media screen and (min-width: 480px) {
  .client__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: var(--icons);
  color: var(--color-bg-blue);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  fill: currentColor;
  border-color: var(--color-bg-blue);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-text {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.gallery-item {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 480px) {
  .gallery-item {
    width: calc((100% - 2 * 15px) / 1);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.gallery-item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery-item-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.gallery-item:nth-child(3n + 3) {
  margin-right: 0;
}

.gallery-item:not(:nth-last-child(n + 4)) {
  margin-bottom: 0;
}

.gallery-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-thumb-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 35px;
  color: var(--color-bg-white);
  transform: translateY(100%);
  transition: transform 250ms;
}

.gallery-item:hover .gallery-thumb-text {
  transform: translateY(0);
}

.footer {
  background: var(--color-bg-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-list {
  list-style: none;
}

.footer-address-list li {
  display: block;
}

@media screen and (min-width: 480px) {
  .footer-address-list li {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-address-list li {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-list li {
    text-align: start;
  }
}

.footer-address-list li:nth-child(-n + 2) {
  margin-bottom: 8px;
}

.footer-address-list li:nth-child(3) {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer li:nth-child(3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__links {
    margin-right: 93px;
  }
}

.footer__title {
  color: var(--color-bg-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__title {
    text-align: center;
  }
}

.footer-address {
  display: flex;
  justify-content: center;
}

.footer-social {
  display: flex;
  justify-content: center;
}

.footer__item {
  width: 44px;
  height: 44px;
}

.footer__item + .footer__item {
  margin-left: 10px;
  margin-bottom: 60px;
}

.footer__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--color-bg-white);
  color: var(--color-bg-white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  fill: currentColor;
  background-color: var(--color-bg-blue);
}

.wrapper-footer a {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .wrapper-footer__address {
    margin-right: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper-footer {
    display: flex;
    align-items: baseline;
  }
}

.link-footer {
  color: var(--address-color-mail-tel);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover, .link-footer:focus {
  color: var(--color-bg-blue);
}

.link-footer-address {
  color: var(--color-bg-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-address:hover, .link-footer-address:focus {
  color: var(--color-bg-blue);
}

.wrapper-logo-footer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .wrapper-logo-footer {
    flex: none;
  }
}

.logo-footer {
  color: var(--color-bg-blue);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-footer-footer {
  color: var(--color-bg-white);
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio-buttons {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-buttons {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons {
    margin-bottom: 50px;
  }
}

.portfolio-button {
  background: var(--secondary-background);
  font-weight: 500;
  font-size: 16px;
  border-radius: 4px;
  line-height: 1.9;
  padding: 6px 22px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin: 8px;
}

.portfolio-button:hover, .portfolio-button:focus {
  color: var(--color-bg-white);
  background: var(--color-bg-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.menu-button {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: palegoldenrod;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=main.css.map */