:root {
  --primary-text-color: #212121;
  --text-color: #757575;
  --color-bg-blue: #2196f3;
  --color-logo-title: #000000;
  --color-bg-white: #ffffff;
  --secondary-background: #f5f4fa;
  --color-bg-hero-footer: #2f303a;
  --address-color-mail-tel: rgba(255, 255, 255, 0.6);
  --icons: #afb1b8;
  --color-hover: #188ce8;
}
